.idea/
.vscode/
**/__pycache__
.DS_store
*.sh
*.ipynb
**/*.dev.yml

wiki_t2v/
multi_news_t2v*/

# JavaScript configs and dependencies
**/.eslintrc.json
**/package-lock.json
**/jsconfig.json
**/node_modules

# ignore trained model files
*.tflite
*.onnx
**/scratch*
**/training/
**/validation/
**/checkpoint
**/*.data-*
**/*.meta
**/*.index
**/*.pb
**/*.pbtxt
**/lookup.pkl
**/metadata.tsv
**/model.json