.idea/
.vscode/
**/__pycache__
.DS_store
*.sh
*.ipynb

# JavaScript configs and dependencies
**/.eslintrc.json
**/package-lock.json
**/jsconfig.json
**/node_modules

# ignore trained model files
**/training/
**/validation/
**/checkpoint
**/*.data-*
**/*.meta
**/*.index
**/*.pb
**/lookup.pkl
**/metadata.tsv
**/model.json